<div *ngIf="showPage">
    <div class="table-container">
        <coinage-app-transfers-table [transfers]="lastTransactions" [tableHeader]="'Recently Edited Transfers'"></coinage-app-transfers-table>
        <div>
            <p>Average Income ({{ this.averageAmountLimit }} months): {{ rollingAverageIncomes | plnCurrency }}</p>
            <p>Average Outcome ({{ this.averageAmountLimit }}) months): {{ rollingAverageOutcomes | plnCurrency }}</p>
        </div>
        <table class="last-transactions-table">
            <caption>
                Total In/Outcomes per Month
            </caption>
            <thead>
                <tr>
                    <th class="align-left">Date</th>
                    <th class="align-right">Outcomes</th>
                    <th class="align-right">Incomes</th>
                    <th class="align-left">Count</th>
                    <th class="align-right">Cost Per Day</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let outcome of totalAmountPerMonth; trackBy: totalOutcomesTracker">
                    <td class="month-name">
                        <a [routerLink]="['/summary', this.getTotalPerMonthDate(outcome)]">{{ outcome.monthName }} {{ outcome.year }}</a>
                    </td>
                    <td class="currency">{{ outcome.outcomes | plnCurrency }}</td>
                    <td class="currency">{{ outcome.incomes | plnCurrency }}</td>
                    <td>{{ outcome.transactionsCount }}</td>
                    <td class="currency">{{ outcome.costPerDay | plnCurrency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
