<div *ngIf="showPage">
    <br />
    <table class="last-transactions-table">
        <caption>
            Recent Transactions
        </caption>
        <thead>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of lastTransactions">
                <td>{{ transaction.category }}</td>
                <td>
                    <a routerLink="/details/{{ transaction.id }}">
                        {{ transaction.description }}
                    </a>
                </td>
                <td class="currency">{{ transaction.amount | plnCurrency }}</td>
                <td>{{ transaction.date | date }}</td>
            </tr>
        </tbody>
    </table>
    <table class="last-transactions-table">
        <caption>
            Total Outcomes/Month
        </caption>
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Transactions Count</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let outcome of totalOutcomesPerMonth">
                <td class="month-name">{{ outcome.monthName }} {{ outcome.year }}</td>
                <td class="currency">{{ outcome.amount | plnCurrency }}</td>
                <td>{{ outcome.transactionsCount }}</td>
            </tr>
        </tbody>
    </table>
</div>
