<li>
    <span class="category-name">
        <span>{{ category.name }}</span>
        <span (click)="onSelectCategoryForEdit(category)"><fa-icon class="edit-icon" [icon]="editIcon" [fixedWidth]="true"></fa-icon></span>
    </span>
    <ul *ngIf="category.children">
        <coinage-app-category-list-item
            *ngFor="let children of category.children"
            [category]="children"
            (editCategory)="onSelectCategoryForEdit($event)"
        ></coinage-app-category-list-item>
    </ul>
</li>
