:host {
    .ng-select::ng-deep {
        //height: 40px;

        .ng-select-container {
            height: 38px;
            border-radius: 5px;
            border-color: rgb(206, 212, 218);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);

            .ng-value-container {
                padding-left: 12px;

                .ng-input {
                    padding-left: 12px;
                    input {
                        //font-size: 16px;
                    }
                }
            }
        }

        & .ng-select-focused::ng-deep {
            background: red !important;
        }

        & .ng-select-focused:not(.ng-select-opened) {
            > .ng-select-container {
                border-color: rgb(134, 183, 254) !important;
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075) 0 0 0 3px rgba(0, 126, 255, 0.1) !important;
            }
        }

        & .ng-select-opened.ng-select-bottom {
            > .ng-select-container {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        //         .ng-arrow {
        //             border-color: #444444 transparent transparent;
        //         }

        //         .ng-dropdown-panel {
        //             border-color: gray;
        //             &.ng-select-bottom {
        //                 border-top-color: #b8b8b8;
        //             }
        //             &.ng-select-top {
        //                 border-bottom-color: #b8b8b8;
        //             }
        //             .ng-dropdown-panel-items {
        //                 max-height: 300px;

        //                 .ng-option {
        //                     padding: 10px;
        //                 }
        //             }
        //         }
    }
}