.coinage-app-table-filter {
    text-align: left;
    margin-left: 5px;
    display: inline;
    position: absolute;

    .filter-icon-btn {
        margin-top: -7px;
        text-align: center;
        width: 25px;
        height: 25px;
        background-color: rgb(225, 225, 225);
        border: gray 2px solid;
        cursor: pointer;
        &:hover {
            background-color: lightgray;
        }
    }

    .filter-popup {
        position: relative;
        margin-top: -2px;
        background-color: rgb(225, 225, 225);
        border: gray 2px solid;
        padding: 10px;

        input {
            padding: 10px;
        }

        button {
            padding: 10px;
            background-color: rgb(225, 225, 225);
            border: gray 2px solid;
            cursor: pointer;
            margin-left: 2px;
            &:hover {
                background-color: lightgray;
            }
        }
    }
}
