<div *ngIf="showPage" class="transfer-details-component">
    <h4>
        <ul class="category-path-list">
            <li>Root</li>
            <li *ngFor="let category of transfer?.categoryPath">
                {{ category.name }}
            </li>
        </ul>
    </h4>
    <table class="transfer-details-table">
        <tr>
            <th>Description</th>
            <td>{{ transfer?.description }}</td>
        </tr>
        <tr *ngIf="transfer.receipt">
            <th>Receipt</th>
            <td>
                <a [routerLink]="receiptDetailsLink">
                    {{ transfer?.receipt?.description }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Amount</th>
            <td>
                <span> {{ transferTypeDisplaySymbol }} {{ transfer.amount | plnCurrency }}</span>
                <span class="planned-icon" *ngIf="transfer.receipt">
                    <a [routerLink]="receiptDetailsLink">
                        <fa-icon [icon]="receiptIcon" [fixedWidth]="true" title="View receipt"></fa-icon>
                    </a>
                </span>
            </td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ transferTypeDisplayName }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>
                <span>{{ transfer.date | date }}</span>
                <span *ngIf="transfer.isPlanned" class="planned-icon">
                    <fa-icon [icon]="plannedIcon" [fixedWidth]="true" title="Transfer is planned"></fa-icon>
                </span>
                <span *ngIf="transfer.refundedBy" class="planned-icon">
                    <a [routerLink]="refundedByLink">
                        ({{ transfer.refundedOn | date }} <fa-icon [icon]="refundedIcon" [fixedWidth]="true" title="Refunded"></fa-icon>)
                    </a>
                </span>
            </td>
        </tr>
        <tr>
            <th>Contractor</th>
            <td>{{ transfer.contractor | undefined }}</td>
        </tr>
        <tr>
            <th>Total {{ totalPayment < 0 ? 'payed to' : 'received from' }} {{ transfer?.contractor }}</th>
            <td>{{ transfer?.date }}: {{ totalPayment | mathAbs | plnCurrency }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>
                <ul class="category-path-list">
                    <li *ngFor="let category of transfer?.categoryPath">
                        {{ category.name }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Account Name</th>
            <td>{{ transfer.account.name }}</td>
        </tr>
    </table>
    <br />
    <div class="button-group">
        <button (click)="onClickEditMode()">Edit</button>
        <button (click)="onToggleShowSplit()">Show Split Transfer</button>
        <button *ngIf="transfer.isRefundable" (click)="onClickRefundTransfer()" type="button">Refund</button>
        <button (click)="onClickDuplicateTransfer()" type="button">Duplicate</button>
    </div>
    <div *ngIf="shouldShowSplit" class="split-transaction-form">
        <div>
            <label for="description">Description</label>
            <input id="description" type="text" [(ngModel)]="splitTransfer.description" required />
        </div>
        <div>
            <label for="amount">Price</label>
            <input id="amount" type="number" [(ngModel)]="splitTransfer.amount" [min]="0" [max]="transfer.amount - 0.01" step=".01" required />
        </div>
        <div>
            <label for="category">Category</label>
            <select id="category" [(ngModel)]="splitTransfer.categoryId" required>
                <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
            </select>
        </div>
        <button (click)="onClickSplitTransfer()">Split</button>
    </div>
</div>
