@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@ng-select/ng-select/themes/default.theme.css';

html,
body {
    margin: 0;
    padding: 0;
}

.w-inherit {
    width: inherit;
}

/* Custom ng-select styling */
.ng-select {
    .ng-select-container {
        @apply h-9 rounded-md border-gray-300 shadow-sm;

        transition:
            border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;

        .ng-value-container {
            @apply pl-3;

            .ng-input {
                @apply pl-3;
            }
        }
    }

    &.ng-select-focused:not(.ng-select-opened) {
        > .ng-select-container {
            @apply border-blue-400 ring-2 ring-blue-500/25;
        }
    }

    &.ng-select-opened.ng-select-bottom {
        > .ng-select-container {
            @apply rounded-b-none;
        }
    }

    .ng-dropdown-panel.ng-select-bottom {
        @apply rounded-b-md;
    }
}
