div.modal-container {
    z-index: 99;
    position: fixed;
    // border-radius: 5px;
    // transform: translateX(-50%) translateY(-50%);
    background-color: rgb(252, 252, 252);
    border: gray 2px solid;
    padding: 15px;

    &.hidden {
        display: none;
    }

    &.moveable {
        cursor: all-scroll;
    }

    &::selection {
        background: none;
    }

    div.modal {
        cursor: default;
        .float-right {
            text-align: right;
            .btn-close {
                cursor: pointer;
                //padding: 0px 5.5px;
                text-align: center;
                border-radius: 0;
                border: gray 2px solid;
                width: 27px;
                height: 27px;
                // &::after {
                //     content: '\00d7';
                //     font-size: 19px;
                //     // line-height: 19px;
                //     display: inline-block;
                // }

                &:hover {
                    background-color: lightgray;
                }
            }
        }
    }
}
