div.modal-container {
    z-index: 99;
    position: fixed;
    background-color: rgb(255 255 255);
    border: 1px solid rgb(229 231 235);
    border-radius: 8px;
    padding: 24px;
    box-shadow:
        0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);

    &.centered {
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &.hidden {
        display: none;
    }

    &.moveable {
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }

    &::selection {
        background: none;
    }

    div.modal {
        cursor: default;

        .float-right {
            text-align: right;
            margin-bottom: 16px;
        }
    }
}
