.transfer-details-component {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.transfers-items-table {
    display: flex;

    .flex-item {
        width: 50%;
    }
}

.divider {
    border: 1px solid #ccc;
}

.category-path-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;

    li {
        padding: 0;
        margin: 0;

        + ::before {
            margin-left: 8px;
            margin-right: 3px;
            content: '>';
            font-weight: bold;
        }
    }
}

.button-group {
    width: 100%;
    display: flex;

    button {
        width: 100%;
        cursor: pointer;
        margin: 5px 0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 0;
        align-self: center;

        &:hover {
            background-color: #f5f5f5;
        }
    }
}

.split-transaction-form {
    margin-top: 35px;

    input,
    button,
    select {
        display: block;
        padding: 10px;
        height: 40px;
        width: 300px;
        margin: 10px;
    }
}

table.transfer-details-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    border: 1px solid #ccc;

    // margin-top: 20px;
    caption {
        font-weight: bold;
        font-size: 15px;
        padding: 5px;
    }

    tr {
        border-bottom: 1px solid #ccc;
    }

    td,
    th {
        padding: 10px;
        text-align: left;
    }

    td {
        .planned-icon {
            margin-left: 5px;
        }

        .btn {
            cursor: pointer;
        }
    }
}
