<div *ngIf="showPage">
    <div class="edit-transfer-container">
        <form (ngSubmit)="onClickSaveTransfer()">
            <div class="transaction-form">
                <div>
                    <label for="description">Description</label>
                    <input id="description" name="description" [(ngModel)]="selectedTransferInputs.description" minlength="3" required />
                </div>
                <div>
                    <label for="amount">Price</label>
                    <input id="amount" name="amount" type="number" [(ngModel)]="selectedTransferInputs.amount" [min]="0" step=".01" required />
                </div>
                <div>
                    <label for="category">Category</label>
                    <ng-select
                        #categorySelect
                        name="category"
                        labelForId="category"
                        [(ngModel)]="selectedTransferInputs.categoryId"
                        [clearable]="false"
                        [required]="true"
                        [editableSearchTerm]="true"
                        [items]="categories"
                        bindValue="id"
                        bindLabel="name"
                        [addTag]="onAddNewCategory.bind(this)"
                        addTagText="Add category"
                        (change)="onChangeCategory()"
                    >
                    </ng-select>
                </div>
                <div>
                    <label for="contractor">Contractor</label>
                    <ng-select
                        #contractorSelect
                        name="contractor"
                        labelForId="contractor"
                        [(ngModel)]="selectedTransferInputs.contractorId"
                        [clearable]="true"
                        [editableSearchTerm]="true"
                        [items]="contractors"
                        bindValue="id"
                        bindLabel="name"
                        [addTag]="onAddNewContractor.bind(this)"
                        addTagText="Add contractor"
                    >
                    </ng-select>
                </div>
                <div>
                    <label for="account">Virtual Account</label>
                    <ng-select
                        name="account"
                        labelForId="account"
                        [(ngModel)]="selectedTransferInputs.accountId"
                        [clearable]="false"
                        [editableSearchTerm]="true"
                        [items]="accounts"
                        bindValue="id"
                        bindLabel="name"
                    >
                    </ng-select>
                </div>
                <div>
                    <label for="date">Date</label>
                    <input id="date" name="date" type="date" [(ngModel)]="selectedTransferInputs.date" required />
                </div>

                <button type="submit">
                    <div *ngIf="editMode">Save</div>
                    <div *ngIf="!editMode">Create</div>
                </button>
                <button *ngIf="!editMode" (click)="clearInputData()" type="button">
                    <div>Clear</div>
                </button>
                <button *ngIf="editMode" (click)="onClickDeleteTransfer()" type="button">Delete</button>
            </div>
        </form>
        <button *ngIf="!shouldDisplayShoppingList" (click)="openShoppingList()">{{ '>' }}</button>
        <div *ngIf="shouldDisplayShoppingList" class="v-divider">
            <coinage-app-item-shopping-list
                (totalCostChanged)="onTotalCostChanged($event)"
                (itemListChanged)="onItemListChanged($event)"
                [selectedCategoryId]="selectedTransferInputs.categoryId ?? null"
                [preselectedItems]="itemsInTransfer"
            ></coinage-app-item-shopping-list>
        </div>
    </div>
</div>
