<div *ngIf="showPage">
    <form (submit)="onClickSaveTransfer()">
        <div class="transaction-form">
            <div>
                <label for="description">Description</label>
                <input id="description" name="description" [(ngModel)]="transferInput.description" minlength="3" required />
            </div>
            <div>
                <label for="amount">Price</label>
                <input id="amount" name="amount" type="number" [(ngModel)]="transferInput.amount" [min]="0" step=".01" required />
            </div>
            <div>
                <label for="category">Category</label>
                <ng-select
                    name="category"
                    labelForId="category"
                    [(ngModel)]="transferInput.category"
                    [clearable]="false"
                    [required]="true"
                    [editableSearchTerm]="true"
                    [items]="categories"
                    bindLabel="name"
                    bindValue="id"
                    [addTag]="onAddNewCategory"
                    addTagText="Add category"
                    (change)="onChangeCategory()"
                >
                </ng-select>
            </div>
            <div>
                <label for="contractor">Contractor</label>
                <ng-select
                    name="contractor"
                    labelForId="contractor"
                    [(ngModel)]="transferInput.contractor"
                    [clearable]="true"
                    [editableSearchTerm]="true"
                    [items]="contractors"
                    bindLabel="name"
                    bindValue="id"
                    [addTag]="onAddNewContractor"
                    addTagText="Add contractor"
                >
                </ng-select>
            </div>
            <div>
                <label for="date">Date</label>
                <input id="date" name="date" type="date" [(ngModel)]="transferInput.date" required />
            </div>

            <button type="submit">
                <div *ngIf="editMode">Save</div>
                <div *ngIf="!editMode">Create</div>
            </button>
            <button *ngIf="editMode" (click)="onClickDeleteTransfer()">Delete</button>
        </div>
    </form>
</div>
