<div *ngIf="showPage">
    <form (submit)="onClickSaveTransfer()">
        <div class="transaction-form">
            <div>
                <label for="description">Description</label>
                <input id="description" name="description" [(ngModel)]="transferInput.description" minlength="3" required />
            </div>
            <div>
                <label for="amount">Price</label>
                <input id="amount" name="amount" type="number" [(ngModel)]="transferInput.amount" [min]="0" step=".01" required />
            </div>
            <div>
                <label for="category">Category</label>
                <!-- <select id="category" name="category" [(ngModel)]="transferInput.category" required>
                    <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
                </select> -->
                <ng-select id="category" name="category" [(ngModel)]="transferInput.category" [clearable]='false'>
                    <ng-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</ng-option>
                </ng-select>
            </div>
            <div>
                <label for="contractor">Contractor</label>
                <select id="contractor" name="contractor" [(ngModel)]="transferInput.contractor">
                    <option *ngFor="let contractor of contractors" [ngValue]="contractor.id">{{ contractor.name }}</option>
                </select>
            </div>
            <div *ngIf="enableExperimental">
                <label for="searchInputBox">Experimental</label>
                <ng-select id="contractor" name="contractor" [(ngModel)]="transferInput.contractor">
                    <ng-option *ngFor="let contractor of contractors" [value]="contractor.id">{{ contractor.name }}</ng-option>
                </ng-select>
            </div>
            <div>
                <label for="date">Date</label>
                <input id="date" name="date" type="date" [(ngModel)]="transferInput.date" required />
            </div>

            <button type="submit">
                <div *ngIf="editMode">Save</div>
                <div *ngIf="!editMode">Create</div>
            </button>
            <button *ngIf="editMode" (click)="onClickDeleteTransfer()">Delete</button>
        </div>
    </form>
</div>
