.date-parts-list {
    padding: 0;
    display: flex;
    list-style: none;
    li {
        padding: 5px;
        + ::before {
            margin-right: 5px;
            content: '/';
        }
    }
}

table.last-transactions-table {
    caption {
        font-weight: bold;
        font-size: 20px;
        padding: 5px;
    }

    width: max-content;
    border-collapse: collapse;

    td,
    th {
        //border-bottom: 1px solid black;
        padding: 10px;
        &.currency {
            text-align: right;
        }
        &.month-name {
            text-transform: capitalize;
        }
    }

    tbody tr:nth-child(even),
    thead tr {
        background-color: rgb(221, 221, 221);
    }
}
