<div *ngIf="showPage">
    <h4>
        <ul class="date-parts-list">
            <li *ngFor="let date of datePartsArray">
                {{ date }}
            </li>
        </ul>
    </h4>
    <!-- <dl>
        <dd>
            {{ partedDate.year }}
        </dd>
        <dd>
            {{ partedDate.month }}
        </dd>
        <dd>
            {{ partedDate.day }}
        </dd>
    </dl> -->

    <table class="last-transactions-table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Amount</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let outcome of outcomesPerCategory">
                <td>{{ outcome.categoryName }}</td>
                <td class="currency" [title]="outcome.summedAmount">{{ outcome.amount | plnCurrency }}</td>
                <td>{{ outcome.numberOfTransfers }}</td>
            </tr>
        </tbody>
    </table>
    <br />
    {{ datetime.toLocaleString('pl', { month: '2-digit', day: 'numeric', year: 'numeric' }) }}
    <input type="date" [(ngModel)]="selectedDate" (ngModelChange)="onDateChange()" />
    <button *ngIf="shouldShowGoUpButton()" (click)="goUp()">Go Up</button>
    <div *ngIf="isDateTargetDay || isDateTargetMonth">
        <coinage-app-transfers-table [transfers]="transfers" [tableHeader]="tableHeader" [showFilters]="isDateTargetMonth"></coinage-app-transfers-table>
    </div>
</div>
