/* You can add global styles to this file, and also import other style files */

@import '~@ng-select/ng-select/themes/default.theme.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

.pull-right {
    float: right;
}

.mt-1 {
    margin-top: 2px;
}

.ml-1 {
    margin-left: 2px;
}

.ml-2 {
    margin-left: 4px;
}

.mr-1 {
    margin-right: 2px;
}

.mr-2 {
    margin-right: 4px;
}

.nowrap {
    white-space: nowrap;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}
