$borderColor: #5d5d5d;

.category-path-list {
    padding: 0;
    display: flex;
    list-style: none;
    li {
        padding: 5px;
        + ::before {
            margin-right: 5px;
            content: '>';
        }
    }
}

.edit-transfer-container {
    display: flex;

    .v-divider {
        border-left: 1px solid $borderColor;
    }
}

.transaction-form {
    margin-top: 5px;

    input,
    button,
    select {
        display: block;
        padding: 10px;
        height: 40px;
        width: 300px;
        margin: 10px;
    }

    .ng-select ::ng-deep {
        height: 40px;
        width: 300px;
        margin: 10px;

        .ng-select-container {
            height: 40px;
            border-radius: 2px;
            border-color: $borderColor;
        }

        .ng-arrow {
            border-color: #444444 transparent transparent;
        }

        .ng-input {
            padding: 10px;
            top: 0;
            input {
                font-size: 16px;
            }
        }

        .ng-dropdown-panel {
            border-color: $borderColor;
            &.ng-select-bottom {
                border-top-color: #b8b8b8;
            }
            &.ng-select-top {
                border-bottom-color: #b8b8b8;
            }
            .ng-dropdown-panel-items {
                max-height: 300px;

                .ng-option {
                    padding: 10px;
                }
            }
        }
    }
}
