/*
 * Remove template code below
 */
:host {
    display: block;

    // font-family: sans-serif;
    // min-width: 300px;
    // max-width: 100%;
    // margin: 0;
}

.gutter-left {
    margin-left: 9px;
}

.col-span-2 {
    grid-column: span 2;
}

// .flex {
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     .datetime {
//         margin-left: auto;
//         padding-right: 20px;

//         .username {
//             margin-left: 5px;
//             margin-right: 10px;
//         }
//     }
// }

nav {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        display: inline-flex;

        h1 {
            margin-left: 0;
        }

        a {
            display: inherit;
        }
    }

    ul.nav-list {
        margin: 0 15px;
        list-style: none;
        padding: 0;
        color: white;
        display: inline-flex;
        height: 100%;
        vertical-align: middle;

        li {
            a,
            a:link,
            a:visited {
                display: inline-block;
                padding: 25px 10px;
                color: white;
                text-decoration: none;
                cursor: pointer;
                height: 100%;
            }

            &:hover {
                background-color: lighten($color: #3a3a3a, $amount: 5);
            }
        }
    }
}

header {
    background-color: #3a3a3a;
    color: white;

    // padding: 5px;
    // border-radius: 3px;
}

main {
    // padding: 0 36px;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    margin-left: 18px;
    font-size: 24px;
}

h2 {
    text-align: center;
    font-size: 20px;
    margin: 40px 0 10px;
}

pre {
    padding: 9px;
    border-radius: 4px;
    background-color: black;
    color: #eee;
}

details {
    border-radius: 4px;
    color: #333;
    background-color: rgb(0 0 0 / 0%);
    border: 1px solid rgb(0 0 0 / 12%);
    padding: 3px 9px;
    margin-bottom: 9px;
}

summary {
    cursor: pointer;
    outline: none;
    height: 36px;
    line-height: 36px;
}

.loader-transition {
    transition-duration: 0.1s;
    pointer-events: none;
}

.hidden {
    opacity: 0;
}
