<header class="flex">
    <div class="logo">
        <a routerLink="/"><img alt="Coinage logo" width="75" [src]="logo" /></a>
        <h1>{{ title }}</h1>
    </div>
    <nav>
        <ul class="nav-list">
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/transfers">Transfers</a></li>
            <li><a routerLink="/manage/categories">Manage Categories</a></li>
            <!-- <li><a routerLink="/transfer/add">Add transfer</a></li> -->
            <li><a (click)="toggleTrinketModal()">Add transfer</a></li>
            <li><a routerLink="/accounts">Account Settings</a></li>
        </ul>
    </nav>
    <div class="datetime">
        <h4>{{ dateTime }}</h4>
    </div>
</header>
<main>
    <coinage-app-modal [isDisplayed]="isTrinketDisplayed" (hideModalEvent)="hideTrinketModal()">
        <div>
            <coinage-app-create-transfer (saveSuccess)="hideTrinketModal(); forceDashboardRefresh()" [redirectAfterSave]="false"></coinage-app-create-transfer>
        </div>
    </coinage-app-modal>
    <router-outlet (activate)="onActivateRoute($event)"></router-outlet>
    <coinage-app-notifications-container></coinage-app-notifications-container>
</main>
<div class="loader-transition" [ngClass]="{ hidden: !isPageLoading }">
    <coinage-app-spinner></coinage-app-spinner>
</div>
