<div class="transfers-table-container">
    <div *ngIf="showFilters">
        <input id="showAllCheckbox" type="checkbox" [ngModel]="filter.showPlanned" (ngModelChange)="showAllChecked($event)" />
        <label for="showAllCheckbox">Show planned transfers</label>
    </div>
    <coinage-app-pagination class="pull-right" *ngIf="showFilters && lastPageNumber" [lastPage]="lastPageNumber"></coinage-app-pagination>
    <table class="transfers-table">
        <caption *ngIf="isHeaderDisplayed">
            <span>{{ tableHeader }}</span>
        </caption>
        <thead>
            <tr>
                <th class="align-left">
                    Category
                    <coinage-app-table-filter
                        *ngIf="showFilters"
                        [filterName]="TableColumn.Category"
                        (filterEvent)="onPerformFilter($event)"
                        [filterType]="FilterType.MultiCheckbox"
                        [filterOptions]="optionsForCheckboxFilters.categories"
                        [popupSide]="PopupSide.ToRight"
                        [cachedFilterValue]="filter.category"
                    ></coinage-app-table-filter>
                </th>
                <th>
                    Description
                    <coinage-app-table-filter
                        *ngIf="showFilters"
                        [filterName]="TableColumn.Description"
                        (filterEvent)="onPerformFilter($event)"
                        [filterType]="FilterType.TextBox"
                        [popupSide]="PopupSide.ToLeft"
                        [cachedFilterValue]="filter.description"
                    ></coinage-app-table-filter>
                </th>
                <th>
                    Contractor
                    <coinage-app-table-filter
                        *ngIf="showFilters"
                        [filterName]="TableColumn.Contractor"
                        (filterEvent)="onPerformFilter($event)"
                        [filterType]="FilterType.MultiCheckbox"
                        [filterOptions]="optionsForCheckboxFilters.contractors"
                        [popupSide]="PopupSide.ToLeft"
                        [cachedFilterValue]="filter.contractor"
                    ></coinage-app-table-filter>
                </th>
                <th class="align-right">
                    Amount
                    <coinage-app-table-filter
                        *ngIf="showFilters"
                        [filterName]="TableColumn.Amount"
                        (filterEvent)="onPerformFilter($event)"
                        [filterType]="FilterType.NumericRange"
                        [popupSide]="PopupSide.ToLeft"
                    ></coinage-app-table-filter>
                </th>
                <th class="align-right">
                    Account
                    <coinage-app-table-filter
                        *ngIf="showFilters"
                        [filterName]="TableColumn.Account"
                        (filterEvent)="onPerformFilter($event)"
                        [filterType]="FilterType.MultiCheckbox"
                        [filterOptions]="optionsForCheckboxFilters.accounts"
                        [popupSide]="PopupSide.ToLeft"
                        [cachedFilterValue]="filter.account"
                    ></coinage-app-table-filter>
                </th>
                <th class="align-right">
                    Date
                    <coinage-app-table-filter
                        *ngIf="showFilters"
                        [filterName]="TableColumn.Date"
                        (filterEvent)="onPerformFilter($event)"
                        [filterType]="FilterType.DateRange"
                        [popupSide]="PopupSide.ToLeft"
                    ></coinage-app-table-filter>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transfer of transfersForTable; trackBy: transferIdTracker" [ngClass]="{ 'today-marker-row': transfer.isTodayMarkerRow }">
                <ng-container *ngIf="!transfer.isTodayMarkerRow">
                    <td>{{ transfer.categoryName }}</td>
                    <td>
                        <a [routerLink]="NavigatorPages.TransferDetails(transfer.id)">
                            {{ transfer.description }}
                        </a>
                        <span class="planned-icon" *ngIf="transfer.receiptId">
                            <a [routerLink]="NavigatorPages.ReceiptDetails(transfer.receiptId)">
                                <fa-icon [icon]="receiptIcon" [fixedWidth]="true" title="View receipt"></fa-icon>
                            </a>
                        </span>
                    </td>
                    <td>
                        {{ transfer.contractorName | undefined: EMPTY_CONTRACTOR }}
                    </td>
                    <td class="currency">{{ transfer.typeSymbol }} {{ transfer.amount | plnCurrency }}</td>
                    <td>{{ transfer.accountName }}</td>
                    <td class="align-right nowrap">
                        <a [routerLink]="NavigatorPages.Summary(transfer.date)">{{ transfer.date | date }}</a>
                    </td>
                </ng-container>
            </tr>
            <tr *ngIf="showSummary && !noRows && outcomesCount > 0" class="sum-row top-border">
                <td colspan="2">Expenses Sum</td>
                <td>{{ outcomesCount }}</td>
                <td class="currency">{{ outcomesSum | plnCurrency }}</td>
                <td colspan="2"></td>
            </tr>
            <tr *ngIf="showSummary && !noRows && incomesCount > 0" class="sum-row">
                <td colspan="2">Incomes Sum</td>
                <td>{{ incomesCount }}</td>
                <td class="currency">{{ incomesSum | plnCurrency }}</td>
                <td colspan="2"></td>
            </tr>
            <tr *ngIf="noRowsFound">
                <td colspan="6">
                    No transfers found.
                    <span *ngIf="isAnyFilterApplied && !noRows"> Please check filters, there are {{ transfers?.length }} unmatched transfers. </span>
                </td>
            </tr>
        </tbody>
    </table>
    <coinage-app-pagination
        class="pull-right mt-1"
        *ngIf="showFilters && lastPageNumber"
        [lastPage]="lastPageNumber"
        [currentPage]="currentPage"
    ></coinage-app-pagination>
</div>
