<div class="transfer-table-container">
    <table class="transfer-table">
        <caption *ngIf="isHeaderDisplayed">
            {{
                tableHeader
            }}
        </caption>
        <thead>
            <tr>
                <th class="align-left">
                    Category
                    <coinage-app-table-filter
                        *ngIf="showFilters"
                        [filterName]="TableColumns.Category"
                        (filterEvent)="onFilter($event)"
                        [filterType]="FilterTypes.TextBox"
                        [popupSide]="PopupSides.ToRight"
                        [datalist]="categoryNames"
                    ></coinage-app-table-filter>
                </th>
                <th>
                    Description
                    <coinage-app-table-filter
                        *ngIf="showFilters"
                        [filterName]="TableColumns.Description"
                        (filterEvent)="onFilter($event)"
                        [filterType]="FilterTypes.TextBox"
                        [popupSide]="PopupSides.ToLeft"
                    ></coinage-app-table-filter>
                </th>
                <th>
                    Contractor
                    <coinage-app-table-filter
                        *ngIf="showFilters"
                        [filterName]="TableColumns.Contractor"
                        (filterEvent)="onFilter($event)"
                        [filterType]="FilterTypes.TextBox"
                        [popupSide]="PopupSides.ToLeft"
                        [datalist]="contractorNames"
                    ></coinage-app-table-filter>
                </th>
                <th class="align-right">
                    Amount
                    <coinage-app-table-filter
                        *ngIf="showFilters"
                        [filterName]="TableColumns.Amount"
                        (filterEvent)="onFilter($event)"
                        [filterType]="FilterTypes.AmountRange"
                        [popupSide]="PopupSides.ToLeft"
                    ></coinage-app-table-filter>
                </th>
                <th class="align-right">
                    Date
                    <coinage-app-table-filter
                        *ngIf="showFilters"
                        [filterName]="TableColumns.Date"
                        (filterEvent)="onFilter($event)"
                        [filterType]="FilterTypes.DateRange"
                        [popupSide]="PopupSides.ToLeft"
                    ></coinage-app-table-filter>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transfer of transfersForTable; trackBy: transferIdTracker">
                <td>{{ transfer.category }}</td>
                <td>
                    <a [routerLink]="['/details', transfer.id]">
                        {{ transfer.description }}
                    </a>
                </td>
                <td>
                    {{ transfer.contractor }}
                </td>
                <td class="currency">{{ transfer.amount | plnCurrency }}</td>
                <td class="align-right">
                    <a [routerLink]="['/summary', transfer.date]">{{ transfer.date | date }}</a>
                </td>
            </tr>
            <tr *ngIf="!noRows" class="sum-row">
                <td colspan="2">Outcomes Sum</td>
                <td>{{ transfersForTable.length }}</td>
                <td class="currency">{{ outcomesSum | plnCurrency }}</td>
                <td></td>
            </tr>
            <tr *ngIf="noRowsFound">
                <td colspan="5">
                    No transfers found.
                    <span *ngIf="isAnyFilterApplied && !noRows"> Please check filters, there are {{ transfers?.length }} unmatched transfers. </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
