<div>
    <div class="add-items-to-transfer-form">
        <div class="item-input-id">
            <label for="itemId">Item</label>
            <ng-select
                #categorySelect
                name="itemId"
                labelForId="itemId"
                [(ngModel)]="selectedItem.id"
                [clearable]="true"
                [required]="false"
                [editableSearchTerm]="true"
                [items]="allItems"
                bindLabel="name"
                bindValue="id"
            >
            </ng-select>
        </div>
        <div class="item-input-price">
            <label for="itemPrice">Price</label>
            <input id="itemPrice" name="itemPrice" type="number" [(ngModel)]="selectedItem.amount" />
        </div>
        <div class="item-input-amount">
            <label for="itemAmount">Amount</label>
            <input id="itemAmount" name="itemAmount" type="number" [(ngModel)]="selectedItem.amount" />
        </div>
    </div>
    <button (click)="onClickAddNewItemToList()">+</button>
    <div>
        <p *ngFor="let item of itemList">{{ item.name | ifNull: 'Unnamed' }}</p>
    </div>
</div>
